.grid {
    counter-reset: box;
    column-count: 3;
    column-gap: 0;
    max-width: 1440px;
    // margin: 0 auto;
    margin-top: 76px;
    @media screen and (max-width: 414px) {
        margin-top: 32px;
        column-count: 1;
    }
    @media screen and (max-width: 768px) and (min-width: 415px) {
        margin-top: 32px;
        column-count: 2;
    }
}
.grid-item {
    position: relative;
    break-inside: avoid;
    padding: 12px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 0%;
        width: 95%;
        bottom: 12px;
        left: 12px;
        transition: height 0.3s;
        background: linear-gradient(to bottom, transparent 0%, black 100%);
        border-radius: 0px 0px 24px 24px;
        -moz-border-radius: 0px 0px 24px 24px;
        -webkit-border-radius: 0px 0px 24px 24px;
    }

    &:hover::before {
        height: 75%;
        z-index: 9;
        cursor: pointer;
    }

    img {
        position: relative;
        display: block;
        max-width: 100%;
        border-radius: 24px;
        -moz-border-radius: 24px;
        -webkit-border-radius: 24px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .description {
        position: absolute;
        
        h2 {
            color: transparent;
        }
    }

    &:hover .description {
        position: relative;
        color: #ffffff;
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        padding: 10px 24px 32px 24px;
        text-align: center;
        z-index: 999;

        h2 {
            position: relative;
            margin: 0;
            padding: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #fff;
            text-transform: uppercase;
            z-index: 999;
            @media screen and (max-width: 414px) {
                font-size: 12px;
            }
        }
    }

    .button-del {
        display: none;
        .btn-del {
            //
        }
    }

    &:hover .button-del {
        display: block;
        position: relative;
        z-index: 9;
        cursor: pointer;
        .btn-del {
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
            font-weight: 700;
            outline: none;
            padding: 4px 12px;
            cursor: pointer;
            transition: background-color 0.2s;
            background: transparent;
            position: absolute;
            border: 1px solid #EB5757;
            box-sizing: border-box;
            border-radius: 12px;
            right: 18px;
            top: 18px;
            font-size: 12px;
            line-height: 15px;
            text-transform: lowercase;
            color: #EB5757;
        }
    }
}
